body {
    margin: 0;
    padding: 0;
    color: #001c35;
    background-color: #91674A;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    padding: 15px;
    width: 100vh;
    height: 50px;
    align-items: center;
}

.brand {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    padding:25px;
    text-transform: capitalize;
}

.firstname {
    color: #F0EDDD;
    font-weight: 800;                                                                                                                                         
    font-size: 25px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.lastname {
    color: #344036;
    font-weight: 700;
    padding-left: 4px;
    font-size: 25px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

 /* Add a black background color to the top navigation */
  .sesi {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    overflow: hiden;
  }
  /* Style the links inside the navigation bar */
  .sesi a {
    display: flex;
    flex-direction: row;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .sesi a:hover {
    background-color: #BE4346;
    color: black;
  }  
  /* Hide the link that should open and close the topnav on small screens */
 .tumpuk {
    display: none;
  }
  section {
    width: 95%;
    padding: 4rem 1rem;
    margin: 0 auto;
  } 
  section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 1rem 0;
    display: block;
    border-radius: 8px;
    transform-origin: center;
    align-items: center;
  }

  .inti {
    width: 80%;
    padding: 16px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: #959da533 0px 8px 24px;
    animation: fade-in linear both;
    animation-timeline: view();
    animation-range: entry 10% entry 80%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

 .inti h3,
 .inti h2 {
  margin-bottom: 0.5rem
 }

 .struktur {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding-left: 15px;
 }

  @media (max-width: 600px) {
    html {
        font-size: 70%;
    }
    .wrapper {
      width: 90%;
    }
    .tumpuk {
        display: inline-block;
        padding-right: -25px;
    }
   
    .sesi {
        position: fixed;
        z-index: 1;
        top: 0%;
        right: -100%;
        background-color: #333;
        color: rgb(255, 255, 255);
        width: 35%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
        margin: 1.5rem;
        padding: 0.7rem;
        transition: 0.3s;
        font-size: 1.5rem;
    }
    .sesi.active {
        right: -10%;
    }
}